<div class="hero">
    <br>
    <div class="frosty col-10 offset-1 text-center">
        <br>
        <h1>This is the Flixter landing page</h1>
        <br>
        <h2>A video streaming app or a webapp building app?</h2>
        <br>
        <h3><%= link_to 'Learn More', '#', class: 'btn btn-success' %></h3>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col-12 col-sm">
        <h3>Amazing courses</h3>
        <p>Construct your own stack.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Learn at your own pace</h3>
        <p>You don't rush. You learn more, more better.</p>
    </div>

    <div class="col-12 col-sm">
        <h3>Join the community</h3>
        <p>Consult with others, teach what you've learned.</p>
    </div>
</div>