<div class="hero">
    <br>
    <div class="frosty col-10 offset-1 text-center">
        <br>
        <h1>This is the Flixter landing page</h1>
        <br>
        <h2>A video streaming app or a webapp building app?</h2>
        <br>
        <h3><%= link_to 'Learn More', '#', class: 'btn btn-success' %></h3>
    </div>
</div>
<br>
<div class="row text-center">
    <div class="col-12 col-sm`">
        <h3>Feature 1</h3>
    </div>

    <div class="col-12 col-sm">
        <h3>Feature 2</h3>
    </div>

    <div class="col-12 col-sm">
        <h3>Feature 3</h3>
    </div>
</div>