@import "bootstrap";

body {
    background: image_url('green_cup');
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    }

.btn {
    border-radius: 0;
}

.feature {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.frosty {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "Helvetica Neue", Helvetica;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
    margin-top: 40px;
}

.frosty h1 {
    font-weight: 100;
}

.frosty h2 {
    font-weight: 200;
}

.frosty h3 {
    font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.hero {
    background: image_url('horse.unsplash.jpg')     no-repeat center center fixed; 
    height: 370px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('ripples.png');
  text-decoration: none;
  margin: -17px;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  font-size: 72px;
  color: black;
  text-decoration: none;
}

.nav-link {
    text-decoration: none;
}